@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700;800&display=swap");

@theme {
  --font-onest: "Onest", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  position: relative;
}
